.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}

.form-container {
    margin-bottom: 20px;
}

.blog-container {
    background-color: #c6c5c5;
    padding: 10px;
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    margin-right: 10px;
}
